* {
  box-sizing: border-box;
}

html {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  /* Add gradient */
  background: #f4f4f4;
  
}

article {
  width: 210mm;
  height: 350mm;
  margin: 20px auto;
  position: relative;
  background: url('/img/top-image.png'); /* Fallback for browsers */
  background: url('/img/top-image.png') no-repeat top,
              url('/img/bottom-image.png') no-repeat bottom,
              linear-gradient(#d1d1d1 , #ffffff, #ffffff ,  #ffffff, #d1d1d1 );
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
  font-family: sans-serif;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url('/img/logo.png');
  box-shadow: 5px 5px 10px black;
  border-radius: 100px;
}

/* Your CSS below here */

nav {
  text-align: center;
  padding-top: 250px;
  padding-right: 40px;
  margin-bottom: -60px;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  margin-bottom: 5px;
}

nav li {
  padding: 10px;
}

nav a {
  color: black;
  font-size: 10px;
text-align: center;
}

.title {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
}

q {
  font-size: 12px;
  font-style: italic
}

.translation {
  font-size: 10px;
}

h3 {
  font-size: 25px;
  margin-bottom: -7px;

}

.column-container {
  display: flex;

}

.left-column {
  width: 50%;
  margin-left: 60px;
  margin-right: 10px;
  text-align: justify;
  font-size: 14px;
}

.right-column {
  width: 50%;
  margin-left: 10px;
  margin-right: 60px;
  text-align: justify;
  font-size: 14px;
}